<p-card  [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin':'5px'}">
        <ng-template pTemplate="header">
            <div style="width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;">
                <h1 style="padding-left:1rem">Simple Card</h1>
                <p-button icon='pi pi-external-link' [style]="{'margin': '0.5rem'}" [routerLink]="'/news'"></p-button>
            </div>
     
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>